/* 1. Colors */

$white: #fff;
$black: #000;
$red: #c73b0f;
$rose-900: #260f08;
$rose-500: #87635a;
$rose-400: #ad8a85;
$rose-300: #caafa7;
$rose-100: #f5eeec;
$rose-50: #fcf8f6;
$green: #1ea575;

/* 2. Spacing */

$spacing-1100: 88px;
$spacing-500: 40px;
$spacing-400: 32px;
$spacing-300: 24px;
$spacing-200: 16px;
$spacing-150: 12px;
$spacing-100: 8px;
$spacing-50: 4px;
